@model ProyectoFDI.v1.Models.Deportistum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Deportistum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombresDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombresDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinciaDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroDep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroDep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
